

<h3> Welcome to TravelBlog <%= @user.first_name %> </h3>
	
    <button type="submit" >  <a class="my-link" href="/new_post">New Post</a></button>
  
    <button type="submit" >  <a class="my-link" href="/edit">Edit</a></button>
	
	<button type="logout" >  <a class="my-link" href="/logout">Logout</a></button>

	<button type="delete" >  <a class="my-link" href="/delete">Delete</a></button>
	<br>


	<% @posts.each do |post| %>
		<h2><%= post.post_name %></h2>
		<p><%= post.post_content %></p>
		<p><%= post.user.first_name %> <%= post.user.last_name %></p>
		<p><a href="/profile/<%= post.id %>/edit"> Edit</a></p>
		<form action="/profile/<%= post.id %>" method="POST">
    		<input type="hidden" name="_method" value="DELETE">	
    		<button type="submit">Delete</button>
		</form>
		
		<% end %>


			<h1> <%= @user.id %></h1>

