<div class="hero_image"></div>


<%= form_tag(posts_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
<%= submit_tag "Search" %>
<% end %>

Search Results

<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>



<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>


# <%= form_tag(name_path, :method => "get", id: "search-form") do %>
#     <%= text_field_tag :search, params[:search], placeholder: "Search Name" %>
#     <%= submit_tag "Search", :name => nil %>
# <% end %>
